<h3>NgFor example</h3>

<hr>

<h4 *ngIf="people.length>0">There is {{people.length}} contacts on your list</h4>
<h4 *ngIf="people.length===0">You dont have contacts on your list</h4>

<ul>
  <!-- <li *ngFor="let peps of people" [ngClass]="{'text-success': peps.age>=18, 'text-danger': peps.age < 18}"> -->
  <li *ngFor="let peps of people; index as i" [ngClass]="getCssClass(peps.age)">
    <!-- <img [src]="peps.picture" alt="{{peps.name}}" width="100px" height="100px"> -->
    <!-- <img [src]="peps.picture" alt="{{peps.name}}" [ngStyle]="{width: '100px'}"> -->
    <img [src]="peps.picture" alt="{{peps.name}}" [ngStyle]="imgStyles">
    {{peps.name}} is from {{peps.city}}

    <button class="btn btn-warning" (click)="deletePerson(i)">X</button>
  </li>
</ul>
